<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
 -->
<ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="main_content_div">
        <ion-input type="text" placeholder="Search">
            <ion-icon name="search"></ion-icon>
        </ion-input>

        <div class="flex_div">
            <ion-icon name="person-add-outline"></ion-icon>
            <ion-label>Follow and Invite Friends</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-label>Privacy</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
            <ion-label>Security</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="megaphone-outline"></ion-icon>
            <ion-label>Ads</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Account</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="help-buoy-outline"></ion-icon>
            <ion-label>Help</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>About</ion-label>
        </div>

        <div class="flex_div">
            <ion-icon name="color-palette-outline"></ion-icon>
            <ion-label>Theme</ion-label>
        </div>

        <div class="meta_div">
            <img src="assets/imgs/meta.png">
            <ion-label>Meta</ion-label>
        </div>

        <ion-label class="blue_lbl">Accounts Center</ion-label>
        <ion-label class="grey_lbl">
            Control settings for connected experiences across Instagram, the Facebook app and Messenger,
            including story and post sharing and logging in.
        </ion-label>

        <ion-label class="bold_lbl">Logins</ion-label>

        <ion-label class="blue_lbl">Add Account</ion-label>

        <ion-label class="blue_lbl">Log Out</ion-label>

    </div>
</ion-content>
