/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
*/
.back_img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100% !important;
  height: 42vh;
}

img {
    width: 100%;
}
