/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
*/
.header_icon {
  width: 30px;
  margin-left: 10px;
}
.header_icon_send {
  width: 24px;
  margin-right: 16px;
}
.app_name {
  width: 130px;
  margin-left: 16px;
}
