<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic6clone apps Pack
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2021-present initappz.
 -->
<ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>mausam123</ion-title>
    </ion-toolbar>
    <ion-segment value="followers" mode="md" color="dark" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="followers">
            <ion-label>30 Followers</ion-label>
        </ion-segment-button>
        <ion-segment-button value="following">
            <ion-label>40 Following</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <div class="main_content_div">

        <div class="content_div" *ngIf="tabID == 'followers'">

            <ion-input type="text" placeholder="Search">
                <ion-icon name="search"></ion-icon>
            </ion-input>

            <div class="flex_div" *ngFor="let item of (users | slice : 0: 2)">
                <div class="bg_image back_image" [style.backgroundImage]="'url('+ item.img +')'"></div>
                <div class="detail_div">
                    <ion-label class="username">{{item.name}}</ion-label>
                    <ion-label class="view_name">{{item.name}}</ion-label>
                </div>
                <ion-button fill="outline" class="outline_btn" mode="ios">
                    Remove
                </ion-button>
            </div>

            <ion-label class="title_lbl">Suggestions for you</ion-label>

            <div class="flex_div" *ngFor="let item of (users | slice : 2)">
                <div class="bg_image back_image" [style.backgroundImage]="'url('+ item.img +')'"></div>
                <div class="detail_div">
                    <ion-label class="username">{{item.name}}</ion-label>
                    <ion-label class="view_name">{{item.name}}</ion-label>
                    <ion-label class="small_name">Followed by mosam123...</ion-label>
                </div>
                <ion-button class="fill_btn" mode="ios">
                    Follow
                </ion-button>
                <div style="margin-left: 10px;">
                    <ion-icon name="close"></ion-icon>
                </div>
            </div>

        </div>

        <div class="content_div" *ngIf="tabID == 'following'">
            <ion-input type="text" placeholder="Search">
                <ion-icon name="search"></ion-icon>
            </ion-input>

            <div class="flex_div" style="border-bottom: 1px solid lightgray;padding-bottom: 20px;">
                <div class="back_image round_box">
                    <ion-icon name="id-card-outline"></ion-icon>
                </div>
                <div class="detail_div">
                    <ion-label class="username">Sync Contacts</ion-label>
                    <ion-label class="view_name">Find people you know</ion-label>
                </div>
                <ion-button class="fill_btn" mode="ios">
                    Sync
                </ion-button>
                <div style="margin-left: 10px;">
                    <ion-icon name="close"></ion-icon>
                </div>
            </div>

            <div class="title_flex">
                <ion-label>Sorted by <span>Default</span></ion-label>
                <ion-icon name="swap-vertical-outline" (click)="presentAlertRadio()"></ion-icon>
            </div>

            <div class="flex_div" *ngFor="let item of (users | slice : 2)">
                <div class="bg_image back_image" [style.backgroundImage]="'url('+ item.img +')'"></div>
                <div class="detail_div">
                    <ion-label class="username">{{item.name}}</ion-label>
                    <ion-label class="view_name">{{item.name}}</ion-label>
                </div>
                <ion-button fill="outline" class="outline_btn" mode="ios">
                    Following
                </ion-button>
                <div style="margin-left: 10px;">
                    <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
                </div>
            </div>
        </div>

    </div>
</ion-content>
